 html, body {
   font-family: calibri;
 }
 
 table.mytables {
   border-collapse: collapse;
   margin: 1vh;
 }
 
 .mytables td, .mytables th {
   border: 1px solid #ddd;
   padding: 0.75vh;
 }
 
 
 .mytables td {
   text-align: right;
 }
 
 
 .mytables input {
   width: 70px;
 }
 
.box {
 border: 1px solid #ddd;
 padding: 1vh;
 margin: 1vh;
 vertical-align: top;
 display: inline-block;
}

th.row_header {
  text-align: left;
}